
// ============ FONTS =============
//@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat|Montserrat:200i,700|Roboto&display=swap');

// ============ GENERAL =============
body,
html {
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  scroll-behavior: auto;

  //overflow: hidden;
}

// Text VARIABLES
//
//
$powerfleet_font: "DIN W01 Bold";


// ============ COLOUR VARIABLES =============

$lightgreen: #eafed2;
$yellow: #fbe28f;
$green: #97e1d3;
$pink: #f18283;
$white: #ffffff;
$gray: #999;
$light-gray: #f8f8f8;
$black: #000000;
$white: #FFFFFF;
$pointer: #394e6f;


// ============ BAR ===============
//
//
.bar {
  height: 2vh;
  background-color: $pointer;
  width: 100%;
  display: block;
  margin: 10px 0 0 0;
}

// ============ HEADER =============
.container-wrap {
  padding-left: 40px;
  padding-right: 40px;
  //scroll-behavior: smooth;
}

@media screen and (max-width: 768px) {
  .container-wrap {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.app-header {
  background: url('./assets/front-page.jpg') no-repeat center center / cover;
  //background-color: $white;
  display: block;
  font-family: $powerfleet_font;
  height: auto;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.header-inner {
  height: 100vh;
  position: relative;
  z-index: 5;
}

// ============ NAVBAR =============
//

.nav-logo {
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .nav-logo {
    width: 30%;
  }
}

@media screen and (max-width: 768px) {
  .nav-logo {
    width: 30%;
  }
}

@media screen and (max-width: 472px) {
  .nav-logo {
    width: 40%;
  }
}

@media screen and (max-width: 375px) {
  .nav-logo {
    width: 20%;
  }
}

.logo {
  width: 5%;
}

@media screen and (max-width: 1440px) {
  .logo {
    width: 5%;
  }
}

@media screen and (max-width: 1024px) {
  .logo {
    width: 6%;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    width: 7%;
  }
}

@media screen and (max-width: 375px) {
  .logo {
    width: 8%;
  }
}


.navbar,
.navbar-dark {
  background: none;
  border: 1px solid transparent;
  color: $white;
  font-family: $powerfleet_font;
  margin-bottom: 20px;
  min-height: 50px;
  opacity: 1;
  z-index: 5;
  position: relative;
}

.navbar-default,
.navbar-toggle ,
.icon-bar, {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-brand {
  width: 10%;
  margin-left: 0;
  margin-right: 0;
}

@media screen and (max-width: 1024px) {
  .navbar-brand {
    width: 30%;

  }
}

@media screen and (max-width: 768px) {
  .navbar-brand {
    width: 30%;

  }
}

@media screen and (max-width: 472px) {
  .navbar-brand {
    width: 40%;

  }
}

@media screen and (max-width: 375px) {
  .navbar-brand {
    width: 80%;

  }
}

.nav-link .nav-menu{
  border-bottom: 3px solid transparent;
  color: $white !important;
  display: block;
  font-size: 20px;
  margin: 0 12px;
  padding: 5px 5px 5px;
  text-transform: uppercase;
  width: inherit;
  font-family: $powerfleet_font;
  font-weight: normal;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);

  &:hover {
    //border-bottom: 4px solid $white;
    color: $yellow !important;
  }
}

@media screen and (max-width: 1024px) {
  .nav-menu{
    font-size: 2.3vh !important;
    margin: 0 0.6vh !important;
  }
}

@media screen and (max-width: 768px) {
  .nav-menu{
    font-size: 2vh !important;
    margin: 0 1.3vh !important;
  }
}

@media screen and (max-width: 375px) {
    .nav-menu{
      padding: 5px 5px 5px;
      font-size: 1.4vh !important;
      margin: 0 .3vh !important;
    }

}

.nav-link {
  border-bottom: 3px solid transparent;
  color: $white !important;
  display: block;
  font-size: 20px;
  margin: 0 12px;
  padding: 5px 5px 5px;
  text-transform: uppercase;
  width: inherit;
  font-family: $powerfleet_font;
  font-weight: normal;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);

  &:hover {
    //border-bottom: 4px solid $white;
    color: $yellow !important;
  }
}

@media screen and (max-width: 1024px) {
  .nav-link {
    font-size: 2.3vh;
    margin: 0 0.6vh;
  }
}

@media screen and (max-width: 768px) {
  .nav-link {
    font-size: 2.5vh;
    margin: 0 2.3vh;
  }
}

@media screen and (max-width: 375px) {
  .nav-link {
    padding: 5px 5px 5px;
    font-size: 1.3vh;
    margin: 0 .4vh;
  }
}

.icon-nav {
  width: 1em;
  margin-top: -5px;
}

@media screen and (max-width: 768px) {
  .icon-nav {
    width: 0.7em;
    margin-top: -5px;
  }
}

@media screen and (max-width: 375px) {
  .icon-nav {
    width: 0.5em;
    margin-top: -5px;
  }
}

.icon {
  border-bottom: 3px solid transparent;
  color: $white;
  display: block;
  font-size: 25px;
  font-weight: 500;
  margin: 5px 12px;
  padding: 10px 2px 5px;
  width: inherit;

  &:hover {
    color: $pointer;
  }
}

// .shopping-cart-icon {
//   content: url('https://api.iconify.design/ant-design:shopping-cart-outline.svg?color=%23ffffff&width=20px');
//
//   &:hover {
//     content: url('https://api.iconify.design/ant-design:shopping-cart-outline.svg?color=%23fbe28f&width=20px');
//   }
// }

.search-icon {
  content: url('https://api.iconify.design/octicon-search.svg?color=%23ffffff&width=18px');

  &:hover {
    content: url('https://api.iconify.design/octicon-search.svg?color=%23fbe28f&width=18px');
  }

}

@media screen and (max-width: 1024px) {
  .icon {
    font-size: 25px;
    margin: 0 1vh;
  }
}

@media screen and (max-width: 768px) {
  .icon {
    font-size: 25px;
    margin: 0 1.3vh;
  }
}

@media screen and (max-width: 375px) {
  .icon {
    font-size: 25px;
    margin: 0 .5vh;
  }
}

// ============ HERO =============
//
//
.hero1 {
  width: 100%;
}
.carousel-hero {
  background-color: none;
  color: $white;
  height: 85vh;
  left: 50%;
  margin-top: -10vh;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .carousel-hero {
    height: 60vh;
    margin-top: -6vh;
  }
}

@media screen and (max-width: 768px) {
  .carousel-hero {
    height: 45vh;
    margin-top: -5vh;
  }
}

@media screen and (max-width: 375px) {
  .carousel-hero {
    height: 35vh;
    margin-top: -7vh;
  }
}

.description {
  display: block;
  font-family: $powerfleet_font;
  font-size: 8vh;
  margin-bottom: 1vh;
  margin-top: 35vh;
  color: $pointer;
}

@media screen and (max-width: 1024px) {
  .description {
    font-size: 5.5vh;
    margin-bottom: 1vh;
    margin-top: 30vh;
  }
}

@media screen and (max-width: 768px) {
  .description {
    font-size: 5.5vh;
    margin-bottom: 1vh;
    margin-top: 20vh;
  }
}

@media screen and (max-width: 375px) {
  .description {
    font-size: 3.5vh;
    margin-bottom: -1vh;
    margin-top: 15vh;
  }
}

.title {
  font-family: $powerfleet_font;
  font-size: 15vh;
  font-weight: bold;
  margin: -1vh;
  color: $pointer;
}

@media screen and (max-width: 1440px) {
  .title {
    font-size: 13vh;
  }
}

@media screen and (max-width: 1024px) {
  .title {
    font-size: 8vh;
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 8vh;
  }
}

@media screen and (max-width: 375px) {
  .title {
    font-size: 4.5vh;
  }
}

.title:nth-child(3) {
  margin-bottom: 40px;
}

.topic-header-about {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}

.topic-header {
  text-align: center;
}

.white-line {
  background-color: $white;
  height: 3px;
  margin-bottom: 40px;
  width: 60px;
}

.learn-more {
  border: 1px solid $white;
  color: $pointer;
  font-family: $powerfleet_font;
  font-size: 15px;
  font-weight: bold;
  margin: 2vh auto 2vh auto;
  padding: 10px 25px;
  text-align: center;
  text-transform: uppercase;

  &:hover {

    color: $white;
    text-decoration: none;
  }
}

@media screen and (max-width: 1024px) {
  .learn-more {
    font-size: 2.3vh;
  }
}

@media screen and (max-width: 768px) {
  .learn-more {
    border: .2vh solid $white;
    font-size: 2.3vh;
    margin-top: .5vh;
    padding: .6vh;
  }
}

@media screen and (max-width: 375px) {
  .learn-more {
    border: .5vh solid $white;
    font-size: 1.8vh;
    margin-top: -.5vh;
    padding: .6vh;
  }
}

.inner {
  border-top: 1px solid $white;
  color: #faf3e0;
  font-size: 2vh;
  margin: 0 0vh 0 0vh;
  padding: 10px 0;
  position: relative;
  text-transform: uppercase;
}

.inner-number {
  font-size: 2vh;
  font-weight: bold;
  position: sticky;
  color: $white;
}

.inner-text {
  font-size: 1.8vh;
  font-weight: bold;
  text-transform: uppercase;
  color: $white;
}

.carousel-indicators {
  display: flex;
  margin-top: 7vh;
  position: static;
}

@media screen and (max-width: 375px) {
  .carousel-indicators {
    display: none;
  }
}

.carousel-indicators {
  li {
    border-top: 1px solid $white;
    color: $white;
    font-family: $powerfleet_font;
    font-size: 2vh;
    font-weight: bold;
    line-height: 35px;
    margin: 0 3vh;
    text-align: left;
    text-indent: 0;
    transition: all .25s ease;
    width: 250px;
  }
}

.carousel-indicators .active .progress{
  filter: invert(.5) sepia(1) saturate(5) hue-rotate(360deg);
}

.progress {
  background-color: $white;
  border-radius: 0;
  font-size: 0;
  height: 3px;
  width: 25%;
}

.progress-bar {
  background-color: $white;
  height: 3px;
}

// ============ ABOUT ==========

.about-text {
  margin: auto;
  margin-bottom: 3.5rem;
}

.about{
  width: 100%;
}

.about-heading {
  font-family: $powerfleet_font;
  font-size: 34px;
  color: $pointer;
  margin-top: 4.5rem;
  text-align: center;
}

.about-subheading {
  font-family: $powerfleet_font;
  font-size: 30px;
  color: $pointer;
  font-weight: bold;
  margin-top: 1rem;
  text-align: center;
}

.about-red-line {
  background-color: $pink;
  height: 3px;
  margin-bottom: 2rem;
  margin-top: 2.5rem;
  width: 60px;
}

.lorem {
  color: $pointer;
  //text-shadow: 1px 1px 2px #000000;
  font-family: $powerfleet_font;
  font-size: 20px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;

}

.lorem1 {
  color: $pointer;
  //text-shadow: 1px 1px 2px #639499;
  font-family: $powerfleet_font;
  font-weight: bold;
  font-size: 25px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.lorem2 {
  color: $pointer;
  text-shadow: 1px 1px 2px #000000;
  font-family: $powerfleet_font;
  font-size: 20px;
  width: 90%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.lorem2:hover {
   -webkit-transform: scale(1.1);
   -moz-transform:    scale(1.1);
   -ms-transform:     scale(1.1);
   -o-transform:      scale(1.1);
   //text-shadow: 2px 2px 3px #384C6D;
}

.about-images {
  margin-bottom: 5.5rem;
}

.image-page {
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.about-text-header {
  margin-left: auto;
  margin-right: auto;
}

.overlay-div {
  position: relative;
  width: 100%;
}

.overlay {
  display: block;
  left: .5rem;
  opacity: 0;
  position: absolute;
  top: -.5rem;
  transition: .3s ease;
  width: 100%;

  &:hover {
    opacity: 1;
  }
}

.float{
	position:fixed;
	width:30px;
	height:30px;
	bottom:20px;
	right:0px;
	background-color: transparent;
  z-index: 100;
	display: none;
	text-align:center;

  &:hover{
    box-shadow: 2px 2px 6px #999;
  }
}

.my-float{
	margin-top:22px;
}

.team {
  left: 17%;
  position: absolute;
  top: 45%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 1024px) {
  .team {
    left: 18%;
    top: 45%;
  }
}

@media screen and (max-width: 768px) {
  .team {
    left: 19%;
    top: 42%;
  }
}

@media screen and (max-width: 375px) {
  .team {
    left: 49%;  // after 18%
    top: 49%;
  }
}

.users-super-team {
  color: $white;
  font-family: $powerfleet_font;
  font-size: 18px;
  font-weight: bold;
  left: 12%;
  position: absolute;
  top: 50%;
}

@media screen and (max-width: 1024px) {
  .users-super-team {
    left: 11%;
    top: 50%;
  }
}

@media screen and (max-width: 768px) {
  .users-super-team {
    font-size: 15px;
    left: 12%;
    top: 48%;
  }
}

@media screen and (max-width: 375px) {
  .users-super-team {
    left: 37%;
    top: 52%;
  }
}

// ============ COUNTER =============

.counter {
  background-color: $pointer;
  color: $white;
  font-family: $powerfleet_font;
  font-size: 14px;
  //width: 100%;
  padding: 0 5px;
}

@media screen and (max-width: 1024px) {
  .counter {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .counter {
    font-size: 10px;
  }
}

@media screen and (max-width: 375px) {
  .counter {
    font-size: 8px;
  }
}

.counter-div {
  border-left: 1px solid rgba(255,255,255,0.35);
  border-right: 1px solid rgba(255,255,255,0.35);
  display: inline-block;
  height: auto;
  padding: 60px 5px;
  //padding: inherit;
  text-align: center;
  width: 20%;
}

@media screen and (max-width: 1024px) {
  .counter-div {
    padding: 50px 5px;
  }
}

@media screen and (max-width: 768px) {
  .counter-div {
    padding: 40px 5px;
  }
}

@media screen and (max-width: 375px) {
  .counter-div {
    padding: 30px 5px;
  }
}

.counter-number {
  font-size: 72px;
  font-weight: bold;
  line-height: 100%;
  margin-bottom: 10px;
}

@media screen and (max-width: 1024px) {
  .counter-number {
    font-size: 60px;
  }
}

@media screen and (max-width: 768px) {
  .counter-number {
    font-size: 50px;
  }
}

@media screen and (max-width: 375px) {
  .counter-number {
    font-size: 40px;
  }
}

// ============ DESIGN =============

.design-div {
  background-image: url('./assets/front-page.jpg') no-repeat center center / cover;
  display: block;
  font-family: $powerfleet_font;
  height: auto;
  padding: 30px;
  position: relative;
  display: block;
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  //background-size: cover;
}



// @media only screen and (max-width: 768px) {
//   .design-div {
//     height: 75vh;
//   }
// }

.design-heading {
  font-family: $powerfleet_font;
  font-size: 24px;
  margin-top: 2rem;
  color: $pointer;
  text-align: center;
  text-transform: uppercase;
}

.design-subheading {
  font-family: $powerfleet_font;
  font-size: 30px;
  color: $pointer;
  font-weight: bold;
  margin-top: 1rem;
  text-align: center;
  text-transform: uppercase;
}

.design-red-line {
  background-color: $pink;
  height: 3px;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  width: 60px;
}

.focus-icon {
  width: 4%;
  margin-right: 10px;
}

.grid-design-item0 {
  grid-area: text1;
}
.grid-design-item1 {
  grid-area: text2;
}
.grid-design-item2 {
  grid-area: image1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 1024px) {
  .grid-design-item2 {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 768px) {
  .grid-design-item2 {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 375px) {
  .grid-design-item2 {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.grid-design-item3 {
  grid-area: image2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 1024px) {
  .grid-design-item3 {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 768px) {
  .grid-design-item3 {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 375px) {
  .grid-design-item3 {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.grid-design-item4 {
  grid-area: image3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
  margin-bottom: 80px;
}

@media only screen and (max-width: 1024px) {
  .grid-design-item4 {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 768px) {
  .grid-design-item4 {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 375px) {
  .grid-design-item4 {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.grid-design-container {
  display: grid;
  grid-template-areas:
  "text1"
  "text2"
  "image1"
  "image2"
  "image3";
  grid-gap: 10px;
}

.grid-design-cointainer > div {
  text-align: center;
}


// .connected-car {
//   display: block;
//   margin-left: auto;
//   margin-right: auto;
//   width: 90%;
//   z-index: 8;
//   //border-radius: 15px 15px;
// }

.grid-our-app {
  width: auto;
  display: inline-block;
}

@media only screen and (max-width: 375px) {
  .grid-our-app {
    display: grid;
    grid-template-columns: 1fr;
    //margin-left: 100px;
    width: 100%;
    align-items: center;

  }
}

.our-app {
  display: inline-block;
  margin-left: 5px;
  margin-right: auto;
  width: 30%;
  z-index: 8;
  box-shadow: 1px 1px 10px $pointer;
  //border-radius: 15px 15px;
}
.our-app-first {
  display: inline-block;
  margin-left: 20px;
  margin-right: auto;
  width: 30%;
  z-index: 8;
  box-shadow: 1px 1px 10px $pointer;
  //border-radius: 15px 15px;
}

* {
  box-sizing: border-box;
}

// ================= DESIGN ======================
//
//

.design-textarea {
  font-family: $powerfleet_font;
  color: $pointer;
  font-size: 1.5em;
  //border: 1px solid transparent;
  width: 80%;
  margin-left: 20px;
}

@media only screen and (max-width: 1440px) {
  .design-textarea {
    font-size: 1em;
  }
}

.design-tablets {
  width: 99%;
  margin-left: 20px;
  margin-right: 20px;
  padding: 25px;
  //box-shadow: 1px 1px 10px $pointer;
}


.design-tablets-image {
  //display: block;
  //margin-left: 20px;
  margin-left:20px;
  margin-right: 20px;
  width: 99%;
  height:  auto;
  //box-shadow: 1px 1px 10px $pointer;
}

.design-our-app {
  width: 99%;
  margin-left: 20px;
  margin-right: 20px;
  padding: 25px;
  //box-shadow: 1px 1px 10px $pointer;
  //height: 45vh;
}

.design-image {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// =========== CORPORATE FLEET ====================
//
//

.corporate-tablets-image {
  //display: block;
  //margin-left: 20px;
  margin-left:20px;
  margin-right: 20px;
  width: 99%;
  height:  auto;
  //box-shadow: 1px 1px 10px $pointer;
}

.corporate-textarea {
  font-family: $powerfleet_font;
  font-size: 1.2em;
  color: $pointer;
  //border: 1px solid transparent;
  width: 95%;
  margin-left: 20px;
}

@media only screen and (max-width: 1440px) {
  .corporate-textarea {
    font-size: 1em;
  }
}

.corporate-tablets {
  width: 96%;
  margin-left: 20px;
  padding: 5px 0 0px 20px;

  //box-shadow: 1px 1px 10px $pointer;
}

.corporate-pconnect {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


// =========== Customizations =====================
//
//
.customizations-tablets-image {
  //display: block;
  //margin-left: 20px;
  margin-left:20px;
  margin-right: 20px;
  width: 99%;
  height:  auto;
  //box-shadow: 1px 1px 10px $pointer;
}

.customizations-textarea {
  font-family: $powerfleet_font;
  font-size: 1.2em;
  color: $pointer;
  //border: 1px solid transparent;
  width: 95%;
  margin-left: 20px;
}

@media only screen and (max-width: 1440px) {
  .customizations-textarea {
    font-size: 1em;
  }
}

.customizations-tablets {
  width: 96%;
  margin-left: 20px;
  padding: 5px 0 0px 20px;

  //box-shadow: 1px 1px 10px $pointer;
}

// ============ MOBILITY ==========================
//
//

.mobility-tablets-image {
  //display: block;
  //margin-left: 20px;
  margin-left:20px;
  margin-right: 20px;
  width: 99%;
  height:  auto;
  //box-shadow: 1px 1px 10px $pointer;
}

.mobility-textarea {
  font-family: $powerfleet_font;
  font-size: 1.4em;
  color: $pointer;
  //border: 1px solid transparent;
  width: 95%;
  margin-left: 20px;
}

@media only screen and (max-width: 1440px) {
  .mobility-textarea {
    font-size: 1em;
  }
}

.mobility-tablets {
  width: 96%;
  margin-left: 20px;
  padding: 5px 0 0px 20px;

  //box-shadow: 1px 1px 10px $pointer;
}


// ============ ELECTRIC ==========================
//
//
.electric-tablets-image {
  //display: block;
  //margin-left: 20px;
  margin-left:20px;
  margin-right: 20px;
  width: 99%;
  height:  auto;
  //box-shadow: 1px 1px 10px $pointer;
}

.electric-textarea {
  font-family: $powerfleet_font;
  font-size: 1.4em;
  color: $pointer;
  //border: 1px solid transparent;
  width: 95%;
  margin-left: 20px;
}

@media only screen and (max-width: 1440px) {
  .electric-textarea {
    font-size: 1em;
  }
}

.electric-tablets {
  width: 96%;
  margin-left: 20px;
  padding: 5px 0 0px 20px;

  //box-shadow: 1px 1px 10px $pointer;
}

// ============ TELEMATICS ========================
//
//

.telematics-textarea {
  font-family: $powerfleet_font;
  color: $pointer;
  font-size: 1.5em;
  //border: 1px solid transparent;
  width: 80%;
  margin-left: 20px;
}

@media only screen and (max-width: 1440px) {
  .telematics-textarea {
    font-size: 1em;
  }
}

.telematics-tablets {
  width: 99%;
  margin-left: 20px;
  margin-right: 20px;
  padding: 25px;
  //box-shadow: 1px 1px 10px $pointer;
}


.telematics-tablets-image {
  //display: block;
  //margin-left: 20px;
  margin-left:20px;
  margin-right: 20px;
  width: 99%;
  height:  auto;
  //box-shadow: 1px 1px 10px $pointer;
}


// ============ INTELLIGNECE SERVICES =============
//
//
.intelligence-tablets-image {
  //display: block;
  //margin-left: 20px;
  margin-left:20px;
  margin-right: 20px;
  width: 99%;
  height:  auto;
  //box-shadow: 1px 1px 10px $pointer;
}

.intelligence-textarea {
  font-family: $powerfleet_font;
  font-size: 1.2em;
  color: $pointer;
  border: 1px solid transparent;
  width: 95%;
  margin-left: 20px;
}

@media only screen and (max-width: 1440px) {
  .intelligence-textarea {
    font-size: 1em;
  }
}

.intelligence-tablets {
  width: 96%;
  margin-left: 20px;
  padding: 5px 0 0px 20px;

  //box-shadow: 1px 1px 10px $pointer;
}

.card {
  border: none;
}

// ============ CONSULTING SERVICES ===============
//
//
.consulting-tablets-image {
  //display: block;
  //margin-left: 20px;
  margin-left:20px;
  margin-right: 20px;
  width: 99%;
  height:  auto;
  //box-shadow: 1px 1px 10px $pointer;
}

.consulting-textarea {
  font-family: $powerfleet_font;
  font-size: 1.4em;
  color: $pointer;
  //border: 1px solid transparent;
  width: 95%;
  margin-left: 20px;
}

@media only screen and (max-width: 1440px) {
  .consulting-textarea {
    font-size: 1em;
  }
}

.consulting-tablets {
  width: 96%;
  margin-left: 20px;
  padding: 5px 0 0px 20px;

  //box-shadow: 1px 1px 10px $pointer;
}

// ============ CONNECTED VEHICLES ================
//
//
.connected-tablets-image {
  //display: block;
  //margin-left: 20px;
  margin-left:20px;
  margin-right: 20px;
  width: 99%;
  height:  auto;
  //box-shadow: 1px 1px 10px $pointer;
}

.connected-textarea {
  font-family: $powerfleet_font;
  font-size: 1.4em;
  color: $pointer;
  //border: 1px solid transparent;
  width: 95%;
  margin-left: 20px;
}

@media only screen and (max-width: 1440px) {
  .connected-textarea {
    font-size: 1em;
  }
}

.connected-tablets {
  width: 96%;
  margin-left: 20px;
  padding: 5px 0 0px 20px;

  //box-shadow: 1px 1px 10px $pointer;
}


// ============ PROFESSIONAL SERVICES =============
//
//
.professional-textarea {
  font-family: $powerfleet_font;
  font-size: 1.4em;
  color: $pointer;
  //border: 1px solid transparent;
  width: 95%;
  margin-left: 20px;
}

@media only screen and (max-width: 1440px) {
  .professional-textarea {
    font-size: 1em;
  }
}

.professional-tablets {
  width: 96%;
  margin-left: 20px;
  padding: 5px 0 0px 20px;

  //box-shadow: 1px 1px 10px $pointer;
}

.professional-tablets-image{
  //display: block;
  //margin-left: 20px;
  margin-left:20px;
  margin-right: 20px;
  width: 99%;
  height:  auto;
  //box-shadow: 1px 1px 10px $pointer;
}


// ============ WHAT WE DO =============
//
//

.grid-what-item0 {
  grid-area: text1;
}

.grid-what-item1 {
  grid-area: image1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 1024px) {
  .grid-what-item1 {
    display: grid;
    grid-template-columns: 1fr;
  }
}


@media only screen and (max-width: 768px) {
  .grid-what-item1 {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 375px) {
  .grid-what-item1 {
    display: grid;
    grid-template-columns: 1fr;
  }
}
.grid-what-item2 {
  grid-area: image2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 1024px) {
  .grid-what-item2 {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 768px) {
  .grid-what-item2 {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 375px) {
  .grid-what-item2 {
    display: grid;
    grid-template-columns: 1fr;
  }
}


.grid-what-container {
  display: grid;
  grid-template-areas:
  "text1"
  "image1"
  "image2";
  grid-gap: 10px;
}

.grid-what-cointainer > div {
  text-align: center;
}

.what-textarea {
  font-family: $powerfleet_font;
  font-size: 1.5em;
  color: $pointer;
  border: 1px solid transparent;
  width: 80%;
  margin-left: 20px;
}

@media only screen and (max-width: 1440px) {
  .what-textarea {
    font-size: 1em;
  }
}

.what-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.what-tablets {
  width: 99%;
  margin-left: 20px;
  padding: 110px 0 110px 20px;

  box-shadow: 1px 1px 10px $pointer;
}

// ================= ARTIFICIAL INTELLIGENCE =================

.ai-tablets {
  width: 99%;
  margin-left: 20px;
  padding: 5px 0 0px 20px;

  //box-shadow: 1px 1px 10px $pointer;
}

.ai-textarea {
  font-family: $powerfleet_font;
  font-size: 1.4em;
  color: $pointer;
  //border: 1px solid transparent;
  width: 80%;
  margin-left: 20px;
}

@media only screen and (max-width: 1440px) {
  .ai-textarea {
    font-size: 1em;
  }
}

.ai-tablets-image{
  //display: block;
  //margin-left: 20px;
  margin-left:20px;
  margin-right: 20px;
  width: 99%;
  height:  auto;
  //box-shadow: 1px 1px 10px $pointer;
}

// ================ MACHINE LEARNING ===================

.ml-tablets {
  width: 99%;
  margin-left: 20px;
  padding: 5px 0 0px 20px;

  //box-shadow: 1px 1px 10px $pointer;
}

.ml-textarea {
  font-family: $powerfleet_font;
  font-size: 1.4em;
  color: $pointer;
  //border: 1px solid transparent;
  width: 80%;
  margin-left: 20px;
}

@media only screen and (max-width: 1440px) {
  .ml-textarea {
    font-size: 1em;
  }
}

.ml-tablets-image{
  //display: block;
  //margin-left: 20px;
  margin-left:20px;
  margin-right: 20px;
  width: 99%;
  height:  auto;
  //box-shadow: 1px 1px 10px $pointer;
}

// ==========================================

.what-we-do {
  align-items: center;
  display: table-cell;
  vertical-align: middle;
}

.what-collapse-div {
  margin-bottom: 5.5rem;
}

.what-text {
  margin: auto;
  margin-bottom: 3.5rem;
  width: 83%;
}

.what-heading {
  font-family: $powerfleet_font;
  font-size: 24px;
  color: $pointer;
  margin-top: 4.5rem;
  text-align: center;
}

.what-subheading {
  font-family: $powerfleet_font;
  font-size: 30px;
  color: $pointer;
  font-weight: bold;
  margin-top: 1rem;
  text-align: center;
  text-transform: uppercase;
}

.what-red-line {
  background-color: $pink;
  height: 3px;
  margin-bottom: 2rem;
  margin-top: 2.5rem;
  width: 60px;
}


// DROPDOWN MENU

.dropdown-button {
  color: $white;
  font-family: $powerfleet_font;
  font-size: 14px;


  &:hover {
    color: $black;
  }
}

.dropdown-lang {
  font-size: 1.5vh;
  padding-top: 1.3vh;
}

//Dropdown at menu show items on hover
.dropdown:hover>.dropdown-menu {
  display: block;
  //border:  1px solid $pointer;
  background-color: $white;
  opacity: 0.8;
}

// .dropdown:hover>.dropdown-menu:not(:focus):hover {
//   display: none;
// }


//Background  of the dropdown items transparent
.dropdown-menu {
  background:transparent;
}

.dropdown-item {
  color: $pointer;
  font-size: 3.0vh;
  font-weight: lighter;
  background: none;
  border: none;
  font-family: $powerfleet_font;
}

.contact-image {
  width: 35%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card-header {
  background-color: transparent;
}

.card-body {
  color: $pointer;
  font-family: $powerfleet_font;
  font-size: 15px;
  font-style: italic;
  height: auto;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  color: $green;
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: $green;
  height: 5px;
}

.what-we-do .iconify {
  color: $green;
  font-size: 25px;
  position: relative;
  right: 5px;
  top: 2px;
}

.picture-icon {
  content: url('https://api.iconify.design/ant-design:picture-outline.svg?color=%2397e1d3&height=20');
}

.sliders-icon {
  content: url('https://api.iconify.design/uil:sliders-v-alt.svg?color=%2397e1d3&height=20');
}

.target-icon {
  content: url('https://api.iconify.design/feather:target.svg?color=%2397e1d3&height=20');
}

.accordion-toggle::after {
  content: url('https://api.iconify.design/ant-design:arrow-up-outline.svg?color=%23999&height=20');
  float: right;
  font-size: 20px;
}

.accordion-toggle.collapsed::after {
  content: url('https://api.iconify.design/ant-design:arrow-down-outline.svg?color=%23999&height=20');
}

// ============ TESTIMONIALS =============

.testimonial-div {
  background-color: $pointer;
  width: 100%;
}

.carousel-testimonial {
  align-items: center;
  display: flex;
  height: 250px;
}

@media screen and (max-width: 1440px) {
  .carousel-testimonial {
    height: 200px;
  }
}

.testimonial-inner {
  align-items: center;
  width: 70%;
}

.carousel-control-prev {
  margin-left: -10vw;
}

.carousel-control-next {
  margin-right: -10vw;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='gray' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='gray' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.speech-bubble {
  display: block;
  float: left;
  height: 8vw;
  margin-left: 1rem;
  width: 8vw;
}

@media screen and (max-width: 1440px) {
  .speech-bubble {
    height: 8rem;
    width: 8rem;
  }
}

@media screen and (max-width: 1024px) {
  .speech-bubble {
    height: 6rem;
    width: 6rem;
  }
}

@media screen and (max-width: 768px) {
  .speech-bubble {
    height: 3.5rem;
    width: 3.5rem;
  }
}

.testimonial-text {
  color: $white;
  display: inline-block;
  float: right;
  font-family: $powerfleet_font;
  font-size: 1.25vw;
  font-style: italic;
}

@media screen and (max-width: 1024px) {
  .testimonial-text {
    font-size: 1.6vw;
  }
}

@media screen and (max-width: 768px) {
  .testimonial-text {
    font-size: 1.8vw;
  }
}

@media screen and (max-width: 375px) {
  .testimonial-text {
    font-size: 3vw;
  }
}

.red-line-testimonial {
  background-color: $pink;
  display: inline-block;
  height: 3px;
  width: 60px;
}

.testimonial-name {
  color: $white;
  bottom: 10px;
  display: inline;
  font-family: $powerfleet_font;
  font-size: 24px;
  left: 10px;
  margin-bottom: 5px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .testimonial-name {
    font-size: 18px;
  }
}

// ============ WORK =============
//
//

.grid-work-item1 {
  grid-area: text1;
}

.grid-work-item2 {
  grid-area: text2;
}

.grid-work-item3 {
  grid-area: text3;
}

.grid-work-item4 {
  grid-area: img1;
  width: 80%;
}

.grid-work-item5 {
  grid-area: img2;
  width: 60%;
}

.grid-work-item6 {
  grid-area: img3;
  width: 80%;
}

.grid-work-item7 { grid-area: text4; }
.grid-work-item8 { grid-area: text5; }
.grid-work-item9 { grid-area: text6; }
.grid-work-item10 {
  grid-area: img4;
  width: 80%;
}
.grid-work-item11 {
  grid-area: img5;
  width: 80%;
}
.grid-work-item12 {
  grid-area: img6;
  width: 80%;
}

.grid-work-container div {
  width: 100%;
}

.grid-work-container {
  display: grid;
  grid-template-areas:
    'text1 text2 text3'
    'img1 img2 img3 '
    'text4 text5 text6'
    'img4 img5 img6';
  grid-gap: 0;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.grid-work-container > div {

  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.work-text {
  margin: auto;
  margin-bottom: 3.5rem;
  width: 83%;
}

.work-heading {
  font-family: $powerfleet_font;
  font-size: 24px;
  color: $pointer;
  margin-top: .5rem;
  text-align: center;
  text-transform: uppercase;
}

.work-subheading {
  font-family: $powerfleet_font;
  font-size: 30px;
  color: $pointer;
  font-weight: bold;
  margin-top: 1rem;
  text-align: center;
  text-transform: uppercase;
}

.work-red-line {
  background-color: $pink;
  height: 3px;
  margin-bottom: 2rem;
  margin-top: 2.5rem;
  width: 60px;
}

.header-work {
  padding: 32px;
  text-align: center;
}

.row-work {
  -ms-flex-wrap: wrap;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.column-work {
  -ms-flex: 25%;
  flex: 25%;
  max-width: 25%;
}

.column-work img {
  vertical-align: middle;
  width: 100%;
}


@media screen and (max-width: 800px) {
  .column-work {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column-work {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

.work-image {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


// ==================== Contact Form =======================
//
//

.message-error {
  color: red;
}

.contact-card {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  background-color: transparent;
}


.contact-label {
  color: $pointer;
  font-size: 1.5em;
}

.contact-submit {
  width: 100%;
}

@media screen and (max-width: 375px) {
  .contact-submit {
  text-align: center;
  width: 60%;
  }
}

.contact-textarea {
  width: 100%;
}

@media screen and (max-width: 375px) {
  .contact-textarea{
  text-align: center;
  width: 60%;
  }
}

.contact-select {
  width: 100%;
}

@media screen and (max-width: 375px) {
  .contact-select{
  text-align: center;
  width: 60%;
  }
}


.contact-greeting {
  font-family: $powerfleet_font;
  font-size: 44px;
  text-align: center;
  margin-bottom: 40px;
}

div.contact-header {
	//font-weight: normal;
	font-size: 3em;
	font-family: $powerfleet_font;
	//margin: 0 auto;
	//margin-top: 0px;
	//width: 50px;
	color: $pointer;
	text-align: center;
}

p.contact-header{
	font-size: 1.7em;
	font-family: $powerfleet_font;
	width: auto;
	color: $pointer;
	text-align: left;
}

@media screen and (max-width: 768px) {
  p.contact-header {
  text-align: center;
  }
}

@media screen and (max-width: 375px) {
  p.contact-header {
    font-size: 1.4em;
    text-align: left;
  }
}

.contact-input {
  border: solid 1px $pointer;
  width: 500px;
  width: 100%;
  color: $pointer !important;
}

@media screen and (max-width: 1024px) {
  .contact-input {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .contact-input {
    width: 100%;
  }
}

@media screen and (max-width: 375px) {
  .contact-input {
    width: 300px;
    margin-left: 10px;
  }
}

.grid-contact-item1 {
  grid-area: form;
  display: grid;
  grid-template-columns: auto auto;
}

@media only screen and (max-width: 1024px) {
  .grid-contact-item1 {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.grid-contact-item2 {
  grid-area: address;
}

.grid-contact-item3 {
  grid-area: bottom;
}


.grid-contact-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas:
  "form"
  "address"
  "bottom";
  grid-gap: 15px;
}

@media only screen and (max-width: 1024px) {
  .grid-contact-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.grid-contact-container-submit {
  display: grid;
  grid-template-columns: auto;
}

.contact-grid {
  display: grid;
  grid-template-columns: 1fr;
}

@media screen and (max-width: 1400px) {
  .contact-grid {
  display: grid;
  grid-template-columns: 1fr;
  // margin-left: auto;
  // margin-right: auto;
  }
}

.contact-text {
  text-align: center;
}

@media screen and (max-width: 375px) {
  .contact-text {
  text-align: left;
  }
}

hr {
  width: 50%;
}

// Footer
//
//


.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  width: 100%;
  text-align: center;
  font-family: $powerfleet_font;
  background-color: $pointer;
  color: $white;
  padding: 20px 0 0 20px;
}



.footer-social {
  padding-bottom: 20px;
}

// .footer-text {
//   font-size: 25px;;
// }

.title-footer {
  font-family: $powerfleet_font;
  font-size: 8vh;
  font-weight: bold;
  margin: -1vh;
  color: $pointer;
}

@media screen and (max-width: 768px) {
  .title-footer {
    font-size: 6vh;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 375px) {
  .title-footer {
    font-size: 4vh;
    margin-left: auto;
    margin-right: auto;
  }
}

.logo-footer {
  width: 15%;
}

@media screen and (max-width: 800px) {
  .logo-footer {
  width: 10%;
  }
}


.social-container {
  background: #eee;
  padding: 25px 50px;
}

a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

a.social:hover {
  transform: translateY(-2px);
}

a.youtube {
  color: #eb3223;
}

a.facebook {
  color: #4968ad;
}

a.twitter {
  color: #49a1eb;
}

a.instagram {
  color: #E1306C;
}


/* Animation webkit */
@-webkit-keyframes myfirst
{
	0% {margin-left: -235px}
	90% {margin-left: 100%;}
	100% {margin-left: 100%;}
}

/* Animation */
@keyframes myfirst
{
	0% {margin-left: -235px}
	70% {margin-left: 100%;}
	100% {margin-left: 100%;}
}

#form{

	background-color: transparent;
	overflow: hidden;
	position: relative;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

form{
	margin: 0 auto;
	width: 500px;
	padding-top: 40px;
	color: $pointer;
	position: relative;


}
label, input, textarea{
	display: block;
}
input, textarea{
	width: 500px;
	border: none;
	border-radius: 5px;
	outline: none;
	padding: 10px;
	font-family: $powerfleet_font;
	font-size: 1.5em;
	color: $pointer;
	transition: border 0.5s;
	-webkit-transition: border 0.5s;
	-moz-transition: border 0.5s;
	-o-transition: border 0.5s;
	border: solid 3px $pointer;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;

}
input:focus, textarea:focus{
	//border: solid 3px #77bde0;
}



textarea{
	height: 100px;
	resize: none;
	overflow: auto;
}
input[type="submit"]{
	background-color: $pointer;
	color: white;
	height: 50px;
	cursor: pointer;
	margin-top: 30px;
	font-size: 1.29em;
	//font-family: 'Sniglet', cursive;
	-webkit-transition: background-color 0.5s;
	-moz-transition: background-color 0.5s;
	-o-transition: background-color 0.5s;
	transition: background-color 0.5s;
}
input[type="submit"]:hover{
	background-color: lightgray;
  color: $pointer;
}
label{
	font-size: 1.5em;
	margin-top: 20px;
	padding-left: 20px;
}
